@import "./imports/_normalize.scss";

*{ box-sizing: border-box }
// img {
//    width: 100%;
//    display: block;
// }
body {

  margin: 0;

}


#app-container{
  margin: 0;
}





  .land-page {
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 3em;
    padding-left: 18%;
    padding-top: 15%;
    padding-bottom: 10%;
    background-size: cover;
    background: linear-gradient(to right bottom, #4990E2 50%, #4697F7 45%);
    width:100%;
  }

  .chip {
    font-size: 2.5em;
    margin: 0;

  }

  .hi{
    margin-left: 33%;
    font-weight: 100;
    font-family: avenir;
    padding-bottom: 2%;
  }

  .front-end {
    margin-left: 27%;
    font-family: avenir;
    padding-top: 2%;
    font-weight: 100;
  }

  .down-arrow{
    padding-left: 35%;
    padding-top: 10%;
  }

  h2{
    padding-left: 25%;
  }
  .button {
    color: white;
  }
  .arrow {
    position: fixed;
    right: 3%;
    top: 50%;
    }




.about-me {
      font-family: avenir;
      color: #3498db;
      background-color: white;
      font-size: 2em;
      width: 100%;
      padding-bottom: 17%;


  .img-container {
        display: inline-block;
        width: 50%;
  }

  .my-image {
    border-radius: 50%;
    height: 400px;
    width: 400px;
    margin-left: 22%;
    margin-top: 6%;

 }

  .info-sect {
    margin-bottom: 5%;
    display: inline-block;
    width: 50%;
    float: right;
    padding-top: 13%;
  }

   .about {
     padding-left: 40%;
     font-weight: bold;

 }

.my-info {
  font-family: avenir;
  font-size: 1em;
  }
}

.projects {
  background-color:#2168BB;
  color: white;
  font-size: 2em;
  margin: 0;
  width: 100%;
  position:relative;
  


  .header {
    padding-top: 2%;
    padding-left: 36%;
    font-family: avenir;
    font-weight: bold;
  }

  .whosplayin,.lager,.netflix{
    font-family: avenir;
    font-size: 1em;
    display: inline-block;
    width: 32.2666666667%;
    margin: 0;
    
}

.whopimg, .lagLeg, .netfliximg {
  height: 300px;
  width: 300px;
  border-radius: 4%;
  margin-left: 65px;
}

.lager {
   position: absolute;
   right: 34%;
}
.netflix {
  position: absolute;
  right: 1%;
}
  
// .netflix {
//   width:31%;
//   display:inline-block;
//   font-family: avenir;
//   font-size: 1em;

//   }
  
}  


  .title {
    font-weight: 500;
  }

  .left-col{
    float: left;
    display: inline-block;

  }

  a{
    color: white;
  }




.more-info {
  background-color:#4697F7;
  color:white;
  width: 100%;

    .heads {
      font-family: avenir;
      font-weight: bold;

    }

    .contact-info {
      padding-left: 36%;
      font-family: avenir;
      font-size: 2em;
      align-items:center;
      justify-content:center;

    }

  a {
    padding-left: 1%;
  }

  .email {

    font-family: avenir;
    font-size: 2.5em;
    padding-left: 32%;
    padding-top: 2%;

  }

  .phone {
      padding-left: 8%;
      margin-top: -2%;
  }

    .fa-linkedin, .fa-instagram {
      padding-left: 20px;
    }

}

@media screen and(max-width: 800px) {


      .chip {
        font-size: 1.5em;
        display: inline-block;
      }

        .about-me > .img-container{
          display: block;
          width: 100%;
        }

        .about-me > .about {
          padding-left: 35%;
        }
        
      
        .about-me > .info-sect {
          display: block;
          padding-top: 13%;
          padding-right: 9%;
          margin-bottom: 5%;
          width: 50%;
        }
    
        .projects > .header {
          padding-left: 31%;
        }




    .projects > .whosplayin, .lager, .netflix {
        display: block;
        position: static;
        text-align: center;
      }

    .projects > .whopimg, .lagLeg,.netfliximg {
          margin-left: 70px;
    }


}
